:root {
  --green: #2f454e;
  --blue: #6f98a8;
  --darkblue: #2c8fbc;
  --greyc: #bfbfbf;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #efefef;
}
.container {
  margin-top: 20px;
  width: 600px;
}
.parent {
  display: flex;
  flex-direction: row-reverse;
}

.fullwidth {
  width: 400px;
  display: inline-block;
  color: white;
  font-size: 2rem;
}
.fullwidth li {
  list-style: none;
  padding: 6% 12%;
  width: 30%;
  display: inline-block;
  text-align: center;
}
.fullwidth li:nth-child(1),
:nth-child(8) {
  background-color: var(--blue);
}
.fullwidth li:nth-child(2),
:nth-child(4) {
  background-color: var(--darkblue);
}
.fullwidth li:nth-child(3),
:nth-child(5),
:nth-child(9) {
  background-color: var(--green);
}
.fullwidth li:nth-child(6),
:nth-child(7) {
  background-color: var(--greyc);
}
.btn {
  color: white;
  text-transform: uppercase;
  width: 100px;
  border: none;
  padding: 5px 10px;
  font-size: 10px;
  background-color: var(--darkblue);
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
}
.heading {
  text-align: center;
  margin-top: 10px;
  color: black;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #333333;
    /* color: white; */
    padding: 0px 10px 10px;
  }
  .container {
    background-color: white;
    max-width: 600px;
    text-align: center;
  }
  .parent {
    display: block;
  }
  .btn {
    display: inline-block;
  }
  .button_group {
    align-items: center;
  }
  .fullwidth li {
    width: 100%;
    background-color: none;
    background-color: #efefef !important;
    color: black;
    margin-bottom: 2px;
    padding: 2%;
    font-size: 1rem;
    display: block;
  }

  .fullwidth li:nth-child(1),
  :nth-child(8) {
    border-left: 5px solid var(--blue);
  }
  .fullwidth li:nth-child(2),
  :nth-child(4) {
    border-left: 5px solid var(--darkblue);
  }
  .fullwidth li:nth-child(3),
  :nth-child(5),
  :nth-child(9) {
    border-left: 5px solid var(--green);
  }
  .fullwidth li:nth-child(6),
  :nth-child(7) {
    border-left: 5px solid var(--grey);
  }
  .heading1 {
    background-color: #333333;
    color: white;
    margin-bottom: 10px;
  }
}
